html {
  width:100%;
  height:100%;
}

body {
  background: #EEE;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  background: indigo;
  align-self: normal;
  text-align: center;
  padding: 20px 0;
  color: white;
}

h1, #login-container, .lock {
  margin-bottom: auto;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lock {
  text-align: center;
  width: 40%;
  max-width: 100px;
}

.vertical-form {
  display: flex;
  flex-direction: column;

}

.vertical-form input {
  margin: 5px 0;
}
